* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color:white;
}

body,
html {
    width: 100%;
    min-height: 100vh;
}

#backgound-screen{
    background-color: #3F2B06;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-screen{
    width: 95%;
    height: 98vh;
    display: flex;
    margin-top: 3%;
    margin-left: 2.5%;
    position: relative;
}

/* ------------------------- SIDE BAR ---------------------------- */
#side-bar{
    width: 42vh;
    height: 90vh;
}

/* giving 20px padding to top bottom and 5vh for left right  */
#sidebar-container{
    padding: 20px 3vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: #12171B;
    position: relative;
}

/* top of sidebar  */
#top{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#top #logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#top #sensity-img{
    width: 30vh;
    text-align: center;
}

#top #icons {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

#top #icons li{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    margin-left: 15px;
    padding: 4px;
    transition: all 0.04s linear;
}

#top #icons li:hover{
   scale: 1.06;
   border-bottom: 3px solid #FBBD60 ;
}

.active-tab-btn{
    filter: brightness(0) saturate(100%) invert(90%) sepia(66%) saturate(1790%) hue-rotate(310deg) brightness(100%) contrast(97%);
}

#top #icons img{
    width: 3vh;
    filter: brightness(0) saturate(100%) invert(49%) sepia(10%) saturate(224%) hue-rotate(178deg) brightness(89%) contrast(81%);
}

/* #top #icons img:hover{
    filter: brightness(0) saturate(100%) invert(90%) sepia(66%) saturate(1790%) hue-rotate(310deg) brightness(100%) contrast(97%);
} */

#top #icons p{
    margin-top: 3px;
    color: #717479;
    font-weight: 800;
    font-size: 14px;
}

#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: white;
    font-weight: 600;
}

#bottom .ri-vip-diamond-fill{
    color: #FBBD60;
}

#bottom p{
    font-family: Arial, sans-serif;
}

/* top menu  */

menu{
    width: calc(95% - 42vh);
    height: 100px;
    left: 42vh;
    background-color: orange;
    position: absolute;
}



/* customize  scroll-bar for all tabs */
.tabs-container::-webkit-scrollbar {
    width: 4px; /* Adjust width as needed */
    background: #888888; /* Background color of the track */
    border-radius: 5px; /* Add rounded corners */
  }
  
  /* Target the scrollbar thumb */
  .tabs-container::-webkit-scrollbar-thumb {
    background: #05B5F0; /* Color of the thumb */
    border-radius: 4px; /* Add rounded corners */
  }

  /* Target the thumb hover state (optional) */
  .tabs-container::-webkit-scrollbar-thumb:hover {
    background: #05a0d4; /* Background on hover */
  }


  /* Tabs for different Category */
.shop-tabs{
    width:calc(95% - 42vh);
    height: calc(90vh - 100px);
    background-color: #0E1319;
    margin-top: 100px;
    left:42vh;
    position: absolute;
    scale: 0;
    opacity: 0;
    display: none;
}

.tabs-container{
    margin-top: 10px;
    padding: 0 30px;
    width:100%;
    height: calc(100% - 10px);
    overflow: hidden;
    overflow-y: auto;
}
.active-tab{
 scale: 1;
 opacity: 1;
 display: block;
}



