.preview-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 130%;
    top: -26%;
    right: 16%;
    scale: 0;
    opacity: 0;
    z-index: 9;
    overflow: visible;
    
}

.preview-img-side {
    width: 60%;
    height: 100%;
    background-color: white;
    position: relative;
}

.preview-img-side .close-preview-1 {
    position: absolute;
    color: red;
    cursor: pointer;
    right: 4%;
    top: 2%;
    user-select: none;
    display: none;
    transition: all 0.02s linear;
}

.preview-img-side .close-preview-1:active {
    color: white;
    scale: 1.05;
}

.preview-img-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.preview-content-side {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #090F14;
    justify-content: space-between;
    padding: 4vh;
}

.preview-content-top-side{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 100%;
}

.close-preview-2{
    display: block;
align-self: flex-end;
user-select: none;
cursor: pointer ;
}

.close-preview-2:active{
    color: red;
    scale: 1.05;
}

.preview-description{
    font-family: sans-serif,Arial, Helvetica;
    color: #B4BABF;
    line-height: 3.5vh;
    font-size: 16px;
}

.preview-content-bottom-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    background-color: #060A0D;
    width: 96%;
    height: 7vh;
}

.preview-content-bottom-side button {
    border: none;

}

.preview-content-bottom-side .preview-diamond {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 100px;
    height: 24px;
    background-color: #20262D;
}
.preview-content-bottom-side .preview-diamond p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    font-weight: 600;
    line-height: 20px;
}
.preview-content-bottom-side .preview-acheter-btn{
    font-family: sans-serif, Helvetica;
    background-color: #3D4046;
    width: 120px;
    height: 24px;
    cursor: pointer;
}

.preview-content-bottom-side .preview-acheter-btn:active{
    scale: 1.03;
}
