/* -------------- when screen comes to 1150px this css will apply ---------------- */
@media (max-width:1150px) {

    .single-tab{
        justify-content: center;
       }

}

/* -------------- when screen comes to 900px this css will apply ---------------- */
@media (max-width:990px) {
    menu{
        flex-direction: column;
        overflow-x: auto;
        padding: 7px 0px;
    }
    #left{
        width: 10vh;
        height: 10vh;
    }
    .buttons button{
        width: 80px;
        font-size: 8px;
    }
}

/* -------------- when screen comes to 700px this css will apply ---------------- */
@media (max-width:700px) {
    
    menu{
        width:100%;
        left: 0%;
        border-left: 0px;
    }
    #side-bar{
        display: none;
        scale: 0;
        opacity: 0;
    }
    .shop-tabs{
        background-color: #0E1319;
        width:100%;
        height: calc(98vh - 100px);
        left: 0;
    }
    #top-screen{
        margin-top: 2%;
        margin-left: 0%;
    }

}